@page "/"

@inherits ProductsBase


@code {
    private decimal price = 1234.56m; // Replace with your actual price value

    // by default, the price will be converted looking at the regional pc in the computer, so this will defautl it to SA rand.
    private string FormattedPrice
    {
        get
        {
            CultureInfo culture = new CultureInfo("en-ZA");
            return price.ToString("C", culture);
        }
    }
}

@if (Products == null){
<h3>Loading Products, please wait...</h3>

}
else {
    <h3 class="mb-5">Products</h3>
    var productCount = Products.Count();

    @if (productCount > 0)
    {

        @foreach (var prodGroup in GetGroupedProductsByCategory())
        {

            <div class="row mt-3">
                <h4>@GetCategoryName(prodGroup)</h4>
                <DisplayProducts Products="@prodGroup.Take(4)"></DisplayProducts>
            </div>
            <div class="mb-3"/>
        }

    }
 }


